<header class="header flex justify-space-between">
  <div class="flex flex-direction-column">
    <h1 class="header__h1">Omar Mirza</h1>
    <h2 class="header__h2"><span class="italic font-weight-normal">Contract</span> Front End Developer</h2>

    <ul class="header__list">
      <li class="flex align-items-center links-list__item" *ngFor="let i of linksList">
        <a class="flex align-items-center" [attr.href]="i.href" target="_blank">
          <fa-icon class="links-list__icon" [icon]="i.icon"></fa-icon>{{ i.label }}
        </a>
      </li>
      <li class="flex align-items-center links-list__item">
        <svg class="links-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 30">
          <clipPath id="t">
            <path d="M30,15 h30 v15 z v15 h-30 z h-30 v-15 z v-15 h30 z" />
          </clipPath>
          <path d="M0,0 v30 h60 v-30 z" fill="#00247d" />
          <path d="M0,0 L60,30 M60,0 L0,30" stroke="#fff" stroke-width="6" />
          <path d="M0,0 L60,30 M60,0 L0,30" clip-path="url(#t)" stroke="#cf142b" stroke-width="4" />
          <path d="M30,0 v30 M0,15 h60" stroke="#fff" stroke-width="10" />
          <path d="M30,0 v30 M0,15 h60" stroke="#cf142b" stroke-width="6" /></svg
        >British
      </li>
    </ul>
  </div>

  <img class="header__avatar" src="assets/avatar.jpeg" />
</header>
