@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import 'variables';

html, body {
  font-family: $body-font-family;
  color: $primary-color;
  font-size: $base-font-size;
  line-height: normal;
  font-weight: 300;
}

strong {
  font-weight: 400;
}

p,
ul {
  margin: 0 0 1cm;
}

a {
  color: $primary-color;
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.font-weight-normal {
  font-weight: normal;
}

h1, h2, h3 {
  color: $secondary-color;
  font-weight: 600;
}

h1 {
  font-size: 30pt;
}

h2 {
  font-size: 16pt;
  color: $tertiary-color;
}
