@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import 'variables';

html,
body {
  font-family: $body-font-family;
  color: $primary-color;
  font-size: $base-font-size;
  line-height: normal;
  font-weight: 300;
}

strong,
.font-weight-bold {
  font-weight: 500;
}

p,
ul {
  margin: 0 0 0.4cm;
}

a {
  color: $primary-color;
  text-decoration: none;
}

.text-italic {
  font-style: italic;
}

.font-weight-normal {
  font-weight: normal;
}

.text-center {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1,
h3,
h4 {
  color: $secondary-color;
}

h2,
h3 {
  font-size: 16pt;
}

h1 {
  font-size: 30pt;
}

h2 {
  color: $tertiary-color;
}

h3 {
  border-bottom: solid 0.05cm $secondary-color;
  padding-bottom: 0.2cm;
  margin-bottom: 0.4cm;
}

h4 {
  font-size: 13pt;
}

.links-list__item {
  margin: 0.05cm 0 0 0;
}

.links-list__icon {
  width: 0.4cm;
  margin-right: 0.2cm;
  color: $secondary-color;
}
