@import 'colors';

$body-font-family: 'Roboto', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
  sans-serif;
$base-font-size: 11pt;
$primary-color: $mine-shaft;
$secondary-color: $cello;
$tertiary-color: $teak;
$container-width: 21cm;
$section-spacer: 0.8cm;
