<div class="profile">
  <h3>Profile</h3>
  <p class="profile__copy">
    London based senior <strong>contract</strong> front end developer with
    <strong>{{ yearsOfExperience }} years experience</strong>.
  </p>

  <p class="profile__copy">
    Proficient in taking complex projects from conception to reality using solid programming principles and agile
    methodologies.
  </p>

  <p class="profile__copy">
    Forward thinking approach to developing front end architecture that’s both scalable and modular whilst also
    conforming to web accessibility standards.
  </p>

  <p class="profile__copy">
    <strong>Seeking front end contract role.</strong>
  </p>
</div>
