<div class="skills">
  <h3>Skills</h3>
  <div class="skills__grid-container">
    <div *ngFor="let skillGroups of allSkills">
      <dl class="skills__list" *ngFor="let group of skillGroups">
        <dt class="skills__category font-weight-bold">{{ group.category }}</dt>
        <dd *ngFor="let skill of group.list" [class.font-weight-bold]="skill.isCore">{{ skill.name }}</dd>
      </dl>
    </div>
  </div>

  <h3>{{ otherSkills.category }}</h3>
  <p>
    <span *ngFor="let i of otherSkills.list; let last = last" [class.font-weight-bold]="i.isCore">
      {{ i.name }}<ng-container *ngIf="!last">, </ng-container>
    </span>
  </p>
</div>
