<div class="skills">
  <h3>Skills</h3>
  <div class="skills__grid-container">
    <div *ngFor="let skillGroups of allSkills">
      <dl class="skills__list" *ngFor="let group of skillGroups">
        <dt class="skills__category font-weight-bold">{{ group.category }}</dt>
        <dd *ngFor="let skill of group.list" [class.font-weight-bold]="skill.isCore">{{ skill.name }}</dd>
      </dl>
    </div>
  </div>

  <h3>Other Skills</h3>
  <p>
    <strong>Git</strong>, <strong>Git flow</strong>, Slack, MySQL, Trello, zeplin, Grunt, Gulp, YAML, Electron, font
    awesome, icomoon, masonry
  </p>
</div>
