@import 'variables';

.skills {
  margin: 0 0 $section-spacer;
}

.skills__grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 0.4cm;
  margin-bottom: $section-spacer;
}

.skills__list {
  margin-bottom: 0.4cm;

  &:last-child {
    margin-bottom: 0;
  }
}

.skills__category {
  color: $secondary-color;
  margin-bottom: 0.1cm;
  font-size: 12pt;
}
