.experience__grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 0.2cm;
}

.experience__renewals {
  margin-right: 0.4cm;
}

.experience__achievements {
  list-style: square;
  margin: 0 0 0 1cm;
}
