@import 'variables';

.experience__item {
  margin-bottom: $section-spacer;
}

.experience__grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 0.1cm;
  align-items: flex-end;
}

.experience__renewals {
  margin-right: 0.4cm;
  color: $secondary-color;
}

.experience__achievements {
  list-style: square;
  margin: 0 0 0 1cm;
}

.experience__dates {
  color: $secondary-color;
}
