<div class="experience">
  <h3>Experience</h3>
  <div class="experience__item" *ngFor="let job of experienceHistory">
    <div class="experience__grid-container justify-space-between">
      <h4>{{ job.title }}</h4>
      <div>
        <strong *ngIf="job.renewals" class="experience__renewals"
          >(Includes {{ job.renewals }} contract
          {{ job.renewals | i18nPlural: { '=1': 'renewal', other: 'renewals' } }})</strong
        >
        <fa-icon class="links-list__icon" [icon]="faCalendarAlt"></fa-icon>
        <strong class="experience__dates">{{ job.dates.from }} - {{ job.dates.to }}</strong>
      </div>
    </div>
    <p>{{ job.description }}</p>
    <ul *ngIf="job.achievements" class="experience__achievements">
      <li *ngFor="let i of job.achievements">{{ i }}</li>
    </ul>
  </div>
  <div class="text-center">
    <span class="experience__history-copy">For full employment history please visit</span>
    <a href="https://www.linkedin.com/in/omarCreativeDev/" target="_blank" class="font-weight-bold">
      <fa-icon class="links-list__icon" [icon]="faLinkedinIn"></fa-icon>linkedin.com/in/omarCreativeDev</a
    >
  </div>
</div>
